/* ==========================================================================
   gallerie / component
   ========================================================================== */
.gallerie {
    h2 {
        margin-bottom: 50px;
    }

    img {
        display: block;
        width: 100%;
        object-fit: cover;
    }

    .swiper {
        .swiper-pagination-bullet {
            --swiper-pagination-color: var(--color-primary);
            --swiper-pagination-bullet-size: 30px;
            --swiper-pagination-bullet-horizontal-gap: 10px;
        }
    }

    .swiper-slide {
        height: auto !important;
    }
}
