.hero{
    position: relative;

    .wrapper{
        min-height: 85vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .hero__media{
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;

        img{
            object-fit: cover;
            display: block;
            height: 100%;
            width: 100%;
        }
    }

    .hero__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: var(--grid-gap);

        color: var(--color-white);
        
        h1{
            font-weight: 400;
            margin: 0;
        }
    }
}

.button{
    font-size: typo(14px, 16px);
    text-transform: uppercase;
    font-weight: 900;
    font-family: var(--font-primary);

    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: auto;
    padding: 10px 30px;

    border-radius: 100px;
    border: 4px var(--color-primary) solid;
}