/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Nunito', sans-serif;
    --font-secondary: 'PT Sans', sans-serif;

    --font-size-content: #{typo(12px, 18px)};

    /// Grosseur des textes
    --font-size-h1: #{typo(45px, 100px)};
    --font-size-h2: #{typo(20px, 50px)};
    --font-size-h3: #{typo(16px, 35px)};
}
